body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    text-align: center;
}

#controls {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(203, 255, 197);
    position: fixed;
    z-index: 1;
    width: 100%
}

#search {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

#graph {
    border-radius: 8px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
}

#legend {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}

